body {
  font-family: sans-serif;

  --border: 2px solid #aaa;
}

p {
  margin-top: 0;
}

.FileDropZone {
  color: #444;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  background-color: #ddd;
  border: var(--border);
  font-size: 1rem;
  font-weight: bold;
  height: 100px;
  justify-content: center;
}

.FileDropZone.is-hovered {
  background-color: #aaa;
}

.ProgressBar {
  border: var(--border);
  height: 5px;
}

.ProgressBar__bar {
  background-color: #6666ff;
  height: 100%;
}

.OCRDemoApp {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;

  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.OCRDemoApp__error {
  background-color: #ff7777;
  padding: 5px;
}

.OCRDemoApp__output {
  position: relative;
  border: var(--border);
}

.OCRDemoApp__doc-image {
  width: 100%;
}

.OCRDemoApp__word-boxes {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.OCRDemoApp__text {
  border: var(--border);
  padding: 1em;
  overflow-x: scroll;
}

.OCRWordBox {
  position: relative;
  border: 1px solid red;
}

.OCRWordBox:hover {
  background-color: rgba(255, 200, 200, 0.5);
}

.OCRWordBox__content {
  position: relative;
  top: -25px;
  z-index: 10;
}

.OCRWordBox__text {
  position: absolute;
  left: 0;
  top: 0;

  padding-left: 5px;
  padding-right: 5px;

  background-color: #ccf;
  border: 1px solid #99f;
  white-space: nowrap;
}

.OCRDemoApp__header {
  display: flex;
  align-items: center;
}

.OCRDemoApp__gh-logo {
  width: 64px;
}

.u-grow {
  flex-grow: 1;
}
